/********* Сектора *********/
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
    height: 100%;
}

/********* Блок Контакты *********/
.footer {
    background-color: #162139;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.conts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}
.cont-info {
    flex: 1;
    text-align: left;
    color: white;
    padding: 0px;
    height: 450px;
}
.cont-info h2 {
    margin-bottom: 15px;
}
.cont-details {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 5px;
}
.cont-details p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0px 0;
    text-align: left;
    text-decoration: none;
}
.map {
    flex: 1;
    text-align: center;
    padding: 20px;
}
.map iframe {
    max-width: 450px;
    height: 450px;
    border: none;
    display: block;
}
.footer-title {
    background: #162139;
    width: 100%;
    padding: 15px 0;
}
.developer-credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}
.footer-left h1 {
    margin: 0;
    line-height: 1.4;
    font-size: 14px;
}
.footer-left p {
    margin: 0;
    line-height: 1.4;
    font-size: 12px;
}
.footer-left a {
    text-align: right;
    text-decoration: none;
    top: 5px;
}

/** мобильная версия **/

.footer-m {
    /* width: 100%; */
    background: #162139;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.conts-wrapper-m {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 350px;
    width: 100%;
}
.cont-info-m {
    flex: 1;
    text-align: left;
}
.cont-info-m h2,
.cont-info-m h3 {
    color: #f8f8f8;
    margin-bottom: 10px;
    font-size: 14px;
}
.cont-details-m p {
    font-size: 11px;
    line-height: 1.5;
    margin: 5px 0;
}
.map-m {
    flex: 1;
    text-align: center;
    padding: 10px;
}
.map-m iframe {
    max-width: 250px;
    height: 250px;
    border: none;
    display: block;
}
#map {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.footer-title-m {
    background: #162139;
    width: 100%;
    padding: 15px 0;
}
.developer-credit-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    color: white;
}
.footer-left-m h1 {
    margin: 0;
    line-height: 1.1;
    font-size: 11px;
}
.footer-left-m p {
    margin: 0;
    line-height: 1.1;
    font-size: 8px;
}
.footer-left-m a {
    text-decoration: none;
}
