/***** Страница index.php ***/
/********* Сектора *********/
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
    height: 100%;
}

/********* Стили для слайдера *********/
/* Основной контейнер слайдера */
.section1 {
    background-color: #162139;

}
/* Обертка слайдера */
.slider-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
/* Контейнер слайдера */
.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2400px;
    height: 650px;
    position: relative;
    overflow: hidden;
}
/* Слайдер */
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* Контейнер слайдов */
.slides {
    display: flex;
    width: 100%;
    height: 100%;
}
/* Каждый отдельный слайд */
.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}
/* Затемненная область для текста */
.slide::before {
    content: '';
    position: absolute;
    /* top: 50%; */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты для точного центрирования */
    width: 55%; /* Ширина затемненной области */
    height: 65%; /* Высота затемненной области */
    background: rgba(0, 0, 0, 0.2); /* Цвет затемнения */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Изображение слайда */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* Текст внутри слайда */
.slide-text {
    position: absolute;
    top: 40px; /* Отступ от верха */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 40px;
    z-index: 2; /* Текст поверх затемнения */
    text-align: center;
}
/* Точки для навигации */
.dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 2;
}
.dot {
    z-index: 2;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}


/** стили под мобилку **/
.slider-m {
    position: relative;
    max-width: 100%;
    height: 450px; /* Увеличенный размер слайдера */
    overflow: hidden;
}

.slides-m {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.slide-m {
    min-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-m img {
    width: 100%;
    height: 100%; /* Растягиваем изображение */
    object-fit: cover;
}

.slide-text-m {
    position: absolute;
    top: 20px; /* Текст сверху */
    left: 0;
    width: 100%;
    height: 50%; /* Задаем высоту текстового блока */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4); /* Затемнение */
    color: white;
    font-size: 24px; /* Увеличенный размер текста */
    font-weight: bold;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/* Кнопки навигации */
.prev-m, .next-m {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.prev-m { left: 10px; }
.next-m { right: 10px; }

/********* Текст вторым блоком *********/
.section2 {
    background-color: #DCDCDC;
    /* background-color: white; /* #DCDCDC; */
}
.container {
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    max-width: 1000px; /* Максимальная ширина контента */
}
.image {
    flex: 1;
    text-align: right;
}
.image img {
    max-width: 100%;
    height: auto;
    display: block;
}
.text {
    flex: 1;
    margin-left: -90%;
}
.text p {
    font-size: 24px;
    line-height: 1.6;
    color: black;
    text-align: left;
}

/** мобильная версия **/
.section-2-m {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/resources/img/block/pattern.png') no-repeat center;
    background-size: cover; /* Фон на всю область */
}

/* Картинка */
.image-m {
    flex: 1;
    text-align: right;
}

.image-m img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Текстовый блок */
.text-m {
    flex: 1;
    margin-left: -80%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
    text-align: justify; /* Выравниваем по ширине */
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 900px; /* Ограничиваем ширину для удобочитаемости */
    color: #fff; /* Светлый текст */
}

.text-m p {
    text-align: left;
}

/********* Информационный блок *********/

.section3 {
    width: 100%;
    height: 100%;
    background-color: #162139;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    max-width: 1600px;
    height: 350px;
    display: flex;
    margin-bottom: 50px;
}
.block-item {
    justify-content: center;
    align-items: center;
    margin: 85px;
}
.block-item img {
    display: block;
}
.block-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-text {
    color: white;
    margin-top: 15px;
    font-size: 24px;
    line-height: 1.6;
}

/** мобильная версия **/
.section3-m {
    width: 100%;

    justify-content: center;
    align-items: center;
    overflow: hidden; /* Убираем скролл */
}

.swiper-container-m {
    width: 100%;
    /* max-width: 800px; */
    overflow: hidden;
    position: relative;
}

.block-m {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in-out;
}

.block-item-m {
    min-weight: 135px;
    height: auto;
    flex: 0 0 20%; /* Делаем карточки немного уже */
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #1f2a3e;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8; /* Затухание боковых карточек */
    margin: 0 5px;
    transform: scale(0.9);
}

/* Центральная карточка */
.block-item-m.active {
    flex: 0 0 70%;
    opacity: 1;
    transform: scale(1);
}

/* Картинка */
.block-image-m img {
    max-width: 80px;
    height: auto;
}

/* Текст */
.item-text-m {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

/********* Блок Каталог *********/

.section4 {
    /* background-color: #DCDCDC; */ /* #1E3564; */
}
.category {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #DCDCDC; /* #1E3564; */
}

/********! Нужна каллибровка !************/

.section4-title {
    background-color: #DCDCDC; /* #1E3564; */
}
.category-title {
    display: flex;
    width: 1050px;
    text-align: left;
    color: black;
}

/********! Нужна каллибровка !************/

.category-table {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    max-width: 1600px;
    padding: 10px;
}

.category-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px; /* Ширина блока фиксированная */
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    height: 160px;
    background: white; /* Цвет фона блока */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавление тени для эффекта */
}

.category-block:hover {
    box-shadow: 0 0 25px #191970; /* Эффект при наведении */
}

.category img {
    align-items: center;
    justify-content: center;
    max-width: 175px; /* Максимальная ширина изображения */
    margin-right: 20px; /* Отступ между изображением и текстом */
}

.category-text {
    color: black;
    text-align: center; /* По центру текста */
    font-size: 24px; /* Размер текста */
    flex: 1; /* Занимаем всё доступное пространство */
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    text-align: center; /* Центрируем текст внутри блока */
}

/** Мобильная версия **/
.section4-title-m {
    text-align: center;
}

.category-title-m h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
}

/* Основной блок каталога */
.section4-m {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDCDC; /* #1E3564; */
}

.category-table-m {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 колонки по умолчанию */
    max-width: auto;
    width: 100%;
    margin: 0 auto;
    background-color: #DCDCDC; /* #1E3564; */
}

/* Карточки категорий */
.category-block-m {
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; /* Ширина блока фиксированная */
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    height: 120px;
    background: white; /* Цвет фона блока */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавление тени для эффекта */
}

/* Картинка внутри карточки */
.category-block-m img {
    align-items: center;
    justify-content: center;
    max-width: 115px; /* Максимальная ширина изображения */
    margin-right: 10px; /* Отступ между изображением и текстом */
}

/* Текст внутри карточки */
.category-text-m {
    color: black;
    text-align: center; /* По центру текста */
    font-size: 16px; /* Размер текста */
    flex: 1; /* Занимаем всё доступное пространство */
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    text-align: center; /* Центрируем текст внутри блока */
}

/* Эффект при наведении */
.category-block-m:hover {
    border-radius: 10px;
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

/********* Форма обратной связи *********/

.section5 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
        url('/resources/img/head_title/steel-slide_4.jpg') no-repeat center;
    background-size: cover;
}
.form-container {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Стили для формы */
.contact-form {
    max-width: 450px; /* Ширина формы */
    margin: 0 auto; /* Центрируем форму */
    padding: 20px;
    transform: translateX(-60%);
    background-color: rgba(255, 255, 255, 0.1); /* Легкий фон для формы */
    border-radius: 10px;
}

.contact-form h2 {
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Учитываем padding в ширине */
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #999;
}

.contact-form textarea {
    resize: vertical; /* Разрешаем изменение высоты textarea */
}

/* Блок для кнопки и чекбокса */
.form-actions {
    display: flex; /* Используем flex для выравнивания */
    justify-content: space-between; /* Кнопка слева, чекбокс справа */
    align-items: center; /* Выравниваем по вертикали */
    margin-top: 5px; /* Отступ сверху */
}

/* Стили для чекбокса */
.newsletter-label {
    display: flex; /* Используем flex для выравнивания */
    align-items: center; /* Выравниваем по вертикали */
    font-size: 14px;
    color: white;
}

.newsletter-label input[type="checkbox"] {
    margin-right: 2px; /* Отступ между checkbox и текстом */
}

/* Стили для кнопки */
.contact-form button {
    padding: 10px 20px;
    background-color: #2654A2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Кнопка отправки формы */
#submitButton {
    background-color: #2654A2;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #0056b3;
}

/** Мобильная версия **/
/* Основной контейнер формы */
.section5-m {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
        url('/resources/img/head_title/steel-slide_4.jpg') no-repeat center;
    background-size: cover;
}
.form-container-m {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1); /* Легкий фон для формы */
    max-width: 350px;
    width: 100%;
    text-align: center;
}
.contact-form-m h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}
.contact-form-m input,
.contact-form-m textarea {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}
.contact-form-m input:focus,
.contact-form-m textarea:focus {
    border-color: #007bff;
    outline: none;
}
.contact-form-m textarea {
    resize: none;
}
.form-actions-m {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
}
.newsletter-label-m {
    /* display: flex; */
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
.newsletter-label-m input {
    margin-right: 10px;
}

/*********** Блок доставки ************/
.section6 {
}
.delivery-title {
    display: flex;
    width: 1050px;
    text-align: left;
    color: white;
}
.d-container {
    max-width: 1045px;
    margin: 0 auto;
    padding: 10px;
}
.d-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.d-text {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;
}
.d-image {
    flex-shrink: 0;
}
.d-image img {
    max-width: 100%;
    height: auto;
}
.d-text-content p {
    font-size: 24px;
    line-height: 1.6;
    text-align: left;
}
.d-title-list p {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    text-align: left;
    width: 100%;
}
.d-list {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: 100%;
    width: 100%;
    text-align: left;
    font-size: 18px;
}
.d-icons {
    display: flex;
    gap: 150px;
}
.d-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.d-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** мобильная версия **/
.section6-title-m {
    top: 10px;
    text-align: center;
}
.delivery-title-m h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
}
.section6-m {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-container-m {
    max-width: 800px;
    width: 100%;
}
.d-content-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.d-text-m {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}
.d-image-m img {
    max-width: 300px;
    height: auto;
}
.d-text-content-m {
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}
.d-list-m {
    margin-top: 20px;
}
.d-icons-m {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.d-icon-m img {
    height: auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.d-icon-m img:hover {
    transform: scale(1.1);
}
.d-title-list-m {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/********** Блок контакты **********/
.section7 {
    background-color: #DCDCDC;
}
.section7-title {
    background-color: #DCDCDC;
}
.pay-title {
    display: flex;
    width: 1050px;
    text-align: left;
    color: black;
}
.p-container {
    max-width: 1045px;
    margin: 0 auto;
    padding: 10px;
}
.p-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.p-text {
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
    font-size: 24px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;
}
.p-image {
    flex-shrink: 0;
}
.p-image img {
    max-width: 100%;
    height: auto;
}
.p-text-content p {
    font-size: 24px;
    line-height: 1.6;
    text-align: left;
}
