/* Стили для заголовка */
.policy-title {
    background: url('/resources/img/block/pattern.png') no-repeat center;
    background-size: cover; /* Заполнение всей доступной области без растягивания */
    color: #fff;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    width: 100%; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    height: 100%; /* Высота контейнера */
}

.policy-title h2 {
    margin: 0;
    font-size: 24px;
}
