/* Стили для заголовка */
.section-title {
    background-color: #2654A2; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 20px;
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 20px;
}

.section-title h2 {
    margin: 0;
    font-size: 24px;
}

/* Стили для кнопки "Назад" */
.back-button {
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin: 20px auto; /* Автоматическое выравнивание по центру */
    display: block;
}

.back-button:hover {
    background-color: #555; /* Цвет фона при наведении курсора */
}
