/********* Основное *********/
@font-face {
    font-family: Montserrat-Regular;
    src: url(/local/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1, h2, p, div, input, button {
    font-family: Montserrat-Regular;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: white;
    background-color: #162139;
}

/********* Навигация и шапка *********/
header {
    width: 100%;
    background-color: #162139;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

/********* Корзина *********/
/* Скрытое всплывающее окно */
.hidden {
    display: none;
}

/* Стиль для выпадающего окна корзины */
.basket-popup {
    position: fixed;
    right: 20px;
    top: 50px;
    width: 300px;
    background-color: #1E2A45; /* Используем темный фон в тон основной цветовой гамме */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 15px;
    color: white;
}

/* Стили для кнопки */
#basket-button {
    position: fixed;
    right: 20px;
    top: 10px;
    padding: 10px 20px;
    background-color: #2654A2; /* Цвет кнопки в тон существующего стиля */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

#basket-button:hover {
    background-color: #0056b3; /* Добавляем hover эффект */
}

/* Стили для элементов корзины */
.basket h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.basket table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.basket table th, .basket table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.basket table th {
    background-color: #2E3D5C;
    color: white;
}

.basket table td {
    background-color: #1E2A45;
    color: #fff;
}

/* Сообщение об отсутствии товаров */
#empty-message {
    text-align: center;
    font-size: 1em;
    color: #f00; /* Красный цвет для заметного сообщения */
    margin-top: 10px;
}

/* Стили кнопок в корзине */
#checkout, #clear-cart {
    background-color: #2654A2;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}

#checkout:hover, #clear-cart:hover {
    background-color: #0056b3;
}

/********* Мобильная адаптация *********/
@media (max-width: 768px) {
    .basket-popup {
        width: 90%;
        right: 5%;
    }

    #basket-button {
        right: 5%;
        top: 10px;
    }
}
